footer{
    position: relative;
    .logo{
        width: 3.5em;
        padding-left: 1em;
    }
    @include flex($just:space-between);
    background-color: $black;
    padding: 1em 2em;
        ul{
            padding-right: 1em;
            @include flex;
            gap: 1em;
            font-size: 20px;
        }
    .footerBottomPart{
        width: 100%;
        padding-top: 1em;
        text-align: center;
        @include flex($just: space-between);
        font-size: 10px;
        color: white;
        a{
            color: white;
            text-transform: uppercase;
        }
    }
}