* {
    list-style-type: none;
    padding: 0;
    margin:0;
    text-decoration: none;
}

@font-face {
    font-family: Signika;
    src: url(../fonts/SignikaNegative-Regular.ttf);
}

@font-face {
    font-family: Varela;
    src: url(../fonts/VarelaRound-Regular.ttf);
}

h1, h2, h3, h4 {
    font-family: Varela;
}

body {
    font-family: Signika;
}

a{
    color: black;
}

.triangle{
    width: 79px;
    height: 62px;
    position: absolute;
    order: 6;
}

.triangle-blue{
    background-color: blue;
}

.triangle-left{
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    top: calc(-25%);
    left: 0;
}