* {
    list-style-type: none;
    padding: 0;
    margin:0;
    text-decoration: none;
}

@font-face {
    font-family: Signika;
    src: url(../fonts/SignikaNegative-Regular.ttf);
}

@font-face {
    font-family: Varela;
    src: url(../fonts/VarelaRound-Regular.ttf);
}

h1, h2, h3, h4 {
    font-family: Varela;
}

body {
    font-family: Signika;
}

a{
    color: black;
}

.triangle{
    width: 79px;
    height: 62px;
    position: absolute;
    order: 6;
}

.triangle-blue{
    background-color: blue;
}

.triangle-left{
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    top: -31px;
    left: 0;
}

.icoInsta{
    color: white;
    background: linear-gradient(182deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
   -webkit-text-fill-color: transparent;
}