* {
    list-style-type: none;
    padding: 0;
    margin:0;
    text-decoration: none;
}

@font-face {
    font-family: Signika;
    src: url(../fonts/Signika_Negative.zip);
}

@font-face {
    font-family: Varela;
    src: url(../fonts/Varela_Round.zip);
}

h1, h2, h3, h4 {
    font-family: Varela;
}

p, li, a{
    font-family: Signika;
}