header{
    background-color: $black;
    @include flex(space-between);
    padding: 1em 55px 1em 1em;
    position: relative;
}

.logo {
    width: 3.5em;
}
// navbar non affiché en mobile
nav {
    display: none;
    color: white;
    width: 80%;
    font-size: 24px;
    ul {
        @include flex;

        // effet gradient lors du hover en background du text
        a{
            display: inline-block;
            position: relative;
            font-family: Varela;
            font-weight: 600;
            overflow: hidden;
            color:white;
            background: linear-gradient(to right, $primaryColor, $secondaryColor 50%, white 50%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            background-size: 200% 100%;
            background-position: 100%;
            @include transi(.4s);

            &:hover{
                background-position: 0 100%;

                &:after{
                    background-position: 0 100%;
                    width: 100%;
                }
            }
            // effet de ligne sous le text
            &:after{
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0%;
                height: 2px;
                border-radius: 25px;
                color:transparent;
                overflow: hidden;
                background: linear-gradient(to right, $primaryColor, $secondaryColor 50%, transparent 50%);
                -webkit-text-fill-color: transparent;
                background-size: 200% 100%;
                background-position: 100%;
                @include transi(.4s);
            }
        }
    }

    #navbar{
        gap: 4em;
    }

    .socials{
        gap: 1em;
        font-size: 30px;
        li:first-of-type{
            a{
            background: linear-gradient(to right, $primaryColor, $secondaryColor 50%, #76A9EA 50%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            background-size: 200% 100%;
            background-position: 100%;
            @include transi(.4s);

                &:hover{
                    background-position: 0 100%;
                }
            }
        }

        li:nth-of-type(2){
            a{
                background: linear-gradient(to right, $primaryColor, $secondaryColor 50%, #475993 50%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                background-size: 200% 100%;
                background-position: 100%;
                @include transi(.4s);
    
                    &:hover{
                        background-position: 0 100%;
                    }
            }
        }

        a::after{
            display: none;
        }
    }
    // triangle rouge sur la droite du header
    .triangle{
        width: 40px;
        height: 100%;
    }

    .triangleRight{
        top: 0;
        transform: translateY(0);
        background-color:$primaryColor;
    }
}

nav.navbarOfBurger{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    @include flex(flex-start, column, flex-start, no-wrap);
    background-color: black;
    width: 0%;
    height: 0vh;
    overflow: hidden;
    padding: 0;
    @include transi;

    &.active{
        width: 75%;
        height: 100%;
        padding: 2em 0 0 2em;
        @include transi;
    }

    #navbar{
        @include flex(flex-start, column, flex-start);
        gap: 1em;
        padding-bottom: 1em;
    }

    .triangle{
        display: none;
    }
}

// SPAN POUR FAIRE LE BURGER
#burgerButton {
    position: relative;
    cursor:  pointer;
    height: 2.5em;
    @include transi;
}

#burger::after, #burger::before {
    content: "";
    position: absolute;
    display: inline-block;
}

#burger {
    position: relative;
    display: inline-block;
    top: 20%;
    @include transi(.5s);
    
    // ANIMATION DE PASSAGE EN CROIX 
    &.active {
        background: rgba(167, 1, 9, 0.8);
        height: 2.5em;
        top:0;
        border-radius: 50%;
        box-shadow: 0px 0px 3px white;
        transform: translateX(-4vw);
        z-index: 13;

        &::after, &::before{
            top:1.05em;
            left: .25em;
            background-color: white;
            box-shadow: 0px 0px 2px white;
            width: 2em;
        }

        &::after {
            transform: rotate(-45deg);
        }

        &::before {
            transform: rotate(45deg);
        }
    }
}

// STYLE DU BURGER BASIC AVEC AFTER ET BEFORE
#burger, #burger::after, #burger::before {
    width: 2.5em;
    height: .3em;
    background-color: white;
    border-radius: 10px;
    @include transi(.5s);
}

// POSITION DE BEFORE ET AFTER
#burger::after {
    top: -10px;
    left: 0;
}

#burger::before {
    top: 10px;
    left: 0;
}
// barre de chargement fixé en bas de page
#loadingBar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 5px;
    border-radius: 50px;
    box-shadow: 1px 1px 1px black;
    background-color: $primaryColor;
    z-index: 9999;
}