@media screen and (min-width:700px) {
    footer{
        .footerBottomPart{
            width: auto;
            gap: 3em;
        }
        ul{
            order: 3;
        }
    }
}

@media screen and (min-width:850px){
    footer{
        .logo{
                padding-left: 10%;
        }
        .footerBottomPart{
            gap: 10em;
            font-size: 16px;
        }
    }
}

@media screen and (min-width:900px) {
    footer{
        .logo{
            width: 5em;
        }

        .socials{
            font-size: 24px;
        }
    }
}

// @media screen and (min-width:1024px) {
//     footer{
//         .footerBottomPart{
//             width: 45%;
//         }
//     }
// }