@media screen and (min-width: 500px) { // adaptation de la position de la croix du menu burger
    #burger{
        &.active {
            transform: translateX(-15vw);
        }
    }
}

// apparition de la navbar / disparition du burger
@media screen and (min-width: 900px) {
    header{
        @include flex(space-between);
    }
    nav{
        @include flex(space-between);
    }

    #burgerButton {
        display: none;
    }

    .logo{
        width: 5em;
    }
}

// changement de largeur de la navbar 
@media screen and (min-width: 1100px) {
    nav{
        width: 70%;
    }
}


@media screen and (min-width: 1250px) {
    header{
        padding-right: 100px;
    }
}
// changement de largeur de la navbar 
@media screen and (min-width: 1500px) {
    nav{
        width: 60%;
    }
}