@mixin transform($propriety) {
  transform: $propriety;
  -webkit-transform: $propriety;
  -moz-transform: $propriety;
  -o-transform: $propriety;
  -ms-transform: $propriety;
}

@mixin flex ( $just : center, $direction : row, $align : center, $wrap : wrap) {
  display: flex;
  justify-content: $just;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
}


@mixin transi($time : .3s) {
  transition: all $time ease-in-out;
}