* {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

@font-face {
  font-family: Signika;
  src: url(../fonts/SignikaNegative-Regular.ttf);
}
@font-face {
  font-family: Varela;
  src: url(../fonts/VarelaRound-Regular.ttf);
}
h1, h2, h3, h4 {
  font-family: Varela;
}

html, body {
  scroll-behavior: smooth;
}

body {
  font-family: Signika;
  position: relative;
}

a {
  color: black;
}

h1 {
  font-size: 16px;
}
h1 span {
  position: relative;
  z-index: 2;
}
h1 span::after {
  content: "";
  width: 150%;
  height: 0.4em;
  background-color: #9193FF;
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-20%);
  clip-path: polygon(20% 0, 92% 0, 85% 100%, 13% 100%);
}

.triangle {
  width: 13vw;
  height: 12vw;
  position: absolute;
  overflow: visible;
}

.triangle-blue {
  background-color: #5465ff;
}

.triangleBlack {
  background-color: #1d1c1c;
  overflow: visible;
}

.triangleTop {
  position: absolute;
  top: -1px;
  right: 0%;
  width: 18%;
  height: 8vw;
  background-color: #c90d0d;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.triangle-left {
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  top: 0;
  left: 0;
  transform: translateY(-50%);
  overflow: visible;
}

.triangleRight {
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
  top: 0;
  right: 0;
  transform: translateY(-50%);
  background-color: #5465ff;
  overflow: visible;
}

.triangleBottom {
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  top: 0;
  width: 250px;
  height: 150px;
  background-color: #c90d0d;
}

.chevron {
  width: 5.5vw;
  height: 5.5vw;
  background-color: #1d1c1c;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.chevronDroite {
  clip-path: polygon(0 0, 100% 50%, 0 100%, 25% 50%);
}
.chevronDroite:hover {
  transform: rotate(0deg) translateX(20%);
}

.chevronGauche {
  clip-path: polygon(0 50%, 100% 0, 70% 50%, 100% 100%);
}
.chevronGauche:hover {
  transform: rotate(0deg) translateX(-20%);
}

.fa-instagram {
  color: white;
  background: linear-gradient(182deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-twitter {
  color: #76A9EA;
}

.fa-facebook {
  color: #475993;
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.reveal.active.fadeFromLeft {
  animation: fadeFromLeft 1.5s ease;
}

.reveal.active.fadeFromRight {
  animation: fadeFromRight 1.5s ease;
}

.reveal.active.fadeFromBottom {
  animation: fadeFromBottom 1.5s ease;
}

.reveal.active.fadeFromLeftChevron {
  animation: fadeFromLeft 1.5s ease, bounceChevronLeft 3s 1.5s infinite ease-in-out;
}

.reveal.active.fadeFromRightChevron {
  animation: fadeFromRight 1.5s ease, bounceChevronRight 3s 1.5s infinite ease-in-out;
}

.reveal.active.fadeFromLeftChevronGalerie {
  animation: fadeFromLeftChevronGalerie 1.5s ease, bounceChevronLeftGalerie 3s 1.5s infinite ease-in-out;
}

.reveal.active.fadeFromRightChevronGalerie {
  animation: fadeFromRightChevronGalerie 1.5s ease, bounceChevronRightGalerie 3s 1.5s infinite ease-in-out;
}

.reveal.active.fadeFromBottomPhoto {
  animation: fadeFromBottomPhoto 1s ease;
}

@keyframes fadeFromLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeFromRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeFromBottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeFromLeftChevronGalerie {
  from {
    transform: translateX(-400%);
    opacity: 0;
  }
  to {
    transform: translateX(-50%);
    opacity: 1;
  }
}
@keyframes fadeFromRightChevronGalerie {
  from {
    transform: translateX(400%);
    opacity: 0;
  }
  to {
    transform: translate(50%, -100%);
    opacity: 1;
  }
}
@keyframes fadeFromBottomPhoto {
  from {
    transform: translate(-50%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
.bounce {
  animation: bounce 2s infinite ease-in-out;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-30%);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
@keyframes bounceChevronLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-15%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes bounceChevronRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(15%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes bounceChevronLeftGalerie {
  0% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes bounceChevronRightGalerie {
  0% {
    transform: translate(50%, -100%);
  }
  50% {
    transform: translate(70%, -100%);
  }
  100% {
    transform: translate(50%, -100%);
  }
}
header {
  background-color: #1d1c1c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1em 55px 1em 1em;
  position: relative;
}

.logo {
  width: 3.5em;
}

nav {
  display: none;
  color: white;
  width: 80%;
  font-size: 24px;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
nav ul a {
  display: inline-block;
  position: relative;
  font-family: Varela;
  font-weight: 600;
  overflow: hidden;
  color: white;
  background: linear-gradient(to right, #c90d0d, #5465ff 50%, white 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 200% 100%;
  background-position: 100%;
  transition: all 0.4s ease-in-out;
}
nav ul a:hover {
  background-position: 0 100%;
}
nav ul a:hover:after {
  background-position: 0 100%;
  width: 100%;
}
nav ul a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  border-radius: 25px;
  color: transparent;
  overflow: hidden;
  background: linear-gradient(to right, #c90d0d, #5465ff 50%, transparent 50%);
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: all 0.4s ease-in-out;
}
nav #navbar {
  gap: 4em;
}
nav .socials {
  gap: 1em;
  font-size: 30px;
}
nav .socials li:first-of-type a {
  background: linear-gradient(to right, #c90d0d, #5465ff 50%, #76A9EA 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 200% 100%;
  background-position: 100%;
  transition: all 0.4s ease-in-out;
}
nav .socials li:first-of-type a:hover {
  background-position: 0 100%;
}
nav .socials li:nth-of-type(2) a {
  background: linear-gradient(to right, #c90d0d, #5465ff 50%, #475993 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 200% 100%;
  background-position: 100%;
  transition: all 0.4s ease-in-out;
}
nav .socials li:nth-of-type(2) a:hover {
  background-position: 0 100%;
}
nav .socials a::after {
  display: none;
}
nav .triangle {
  width: 40px;
  height: 100%;
}
nav .triangleRight {
  top: 0;
  transform: translateY(0);
  background-color: #c90d0d;
}

#burgerButton {
  position: relative;
  cursor: pointer;
  height: 2.5em;
}

#burger::after, #burger::before {
  content: "";
  position: absolute;
  display: inline-block;
}

#burger {
  position: relative;
  display: inline-block;
  top: 20%;
  transition: all 0.5s ease-in-out;
}
#burger.open {
  background: rgba(167, 1, 9, 0.8);
  height: 2.5em;
  top: 0;
  border-radius: 50%;
  box-shadow: 0px 0px 3px white;
}
#burger.open::after, #burger.open::before {
  top: 1.05em;
  left: 0.25em;
  background-color: white;
  box-shadow: 0px 0px 2px white;
  width: 2em;
}
#burger.open::after {
  transform: rotate(-45deg);
}
#burger.open::before {
  transform: rotate(45deg);
}

#burger, #burger::after, #burger::before {
  width: 2.5em;
  height: 0.3em;
  background-color: white;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

#burger::after {
  top: -10px;
  left: 0;
}

#burger::before {
  top: 10px;
  left: 0;
}

#sectionBanniere {
  font-size: 18px;
  text-transform: uppercase;
  padding: 1.5em 0;
  height: 20vw;
  background-image: url(../images/header-home-digital.png), linear-gradient(180deg, #5465ff 0%, #c90d0d 100%);
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
}
#sectionBanniere p:first-of-type {
  padding-left: 7%;
  border-right: solid rgba(255, 255, 255, 0.637) 5px;
  display: inline-block;
  animation: clignote 0.7s infinite step-end;
}
@keyframes clignote {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: rgba(255, 255, 255, 0.637);
  }
}
#sectionBanniere p:nth-of-type(2) {
  padding-left: 17%;
  border-right: solid rgba(255, 255, 255, 0.637) 5px;
  display: inline-block;
  animation: clignote 0.85s infinite step-end;
}
#sectionBanniere p:nth-of-type(3) {
  padding-left: 33%;
  border-right: solid rgba(255, 255, 255, 0.637) 5px;
  display: inline-block;
  animation: clignote 0.85s infinite step-end;
}
#sectionBanniere p {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

#sectionPresentation {
  position: relative;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
#sectionPresentation article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  font-size: 16px;
  padding: 0.5em 0 1em;
}
#sectionPresentation article h1 {
  padding-bottom: 1em;
}
#sectionPresentation article p {
  width: 85%;
}
#sectionPresentation img {
  display: none;
}

#sectionGallerie {
  text-align: center;
  background-color: #eeeeee;
  padding: 1em 0 1.5em;
  position: relative;
}
#sectionGallerie #modalGalerie {
  position: absolute;
  width: 80vw;
  height: 80vh;
  top: 10%;
  left: -100%;
  transition: all 0.5s ease-in-out;
  overflow-x: scroll;
  z-index: 1;
}
#sectionGallerie #modalGalerie.active {
  z-index: 10;
  top: 10%;
  left: 10%;
}
#sectionGallerie #modalGalerie img {
  object-fit: cover;
  object-position: top;
  width: 100%;
}
#sectionGallerie h1 {
  padding-bottom: 1.5em;
}
#sectionGallerie #imageGallerieContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}
#sectionGallerie #imageGallerieContainer article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 1em;
  width: 45%;
  gap: 0.2em;
  text-align: center;
}
#sectionGallerie #imageGallerieContainer article .imgContainer {
  width: 100%;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2));
}
#sectionGallerie #imageGallerieContainer article img {
  height: 25vw;
  width: 100%;
  object-fit: cover;
  object-position: top;
  clip-path: polygon(25% 0%, 100% 0, 75% 100%, 0% 100%);
  cursor: zoom-in;
  transition: all 0.3s ease-in-out;
}
#sectionGallerie #imageGallerieContainer article img:hover {
  transform: scale(105%);
}
#sectionGallerie #imageGallerieContainer article a {
  font-size: 12px;
  padding-right: 25%;
}
#sectionGallerie .chevronContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
}
#sectionGallerie .chevronContainer .chevron {
  width: 9vw;
  height: 7vw;
  position: static;
}
#sectionGallerie .chevronDesktop {
  display: none;
}

#sectionEquipe {
  padding: 2em 0 1em;
  text-align: center;
  background-color: #fafafa;
  position: relative;
}
#sectionEquipe #equipePhotoContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  padding: 1em 0;
}
#sectionEquipe #equipePhotoContainer .chevron {
  width: 7vw;
  height: 7vw;
  position: static;
}
#sectionEquipe #equipePhotoContainer .chevronDroite,
#sectionEquipe #equipePhotoContainer .chevronGauche {
  margin-bottom: 1em;
}
#sectionEquipe h1 {
  overflow: hidden;
  padding-bottom: 2em;
}
#sectionEquipe article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
#sectionEquipe article:first-of-type p, #sectionEquipe article:last-of-type p {
  transform: translateY(-150%);
}
#sectionEquipe article:nth-of-type(2) {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#sectionEquipe article .imgContainer {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
#sectionEquipe article .img {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  height: 37vw;
  width: 37vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#sectionEquipe article .leftPhotoContainer,
#sectionEquipe article .rightPhotoContainer {
  border: 8px solid black;
  background-color: black;
}
#sectionEquipe article .leftPhoto {
  background-image: url(../images/jeannePhoto.jpg);
  background-position: bottom;
}
#sectionEquipe article .rightPhoto {
  background-image: url(../images/martinePhoto.jpg);
  background-position: top left;
}
#sectionEquipe article .mainPhotoContainer {
  border: 8px solid white;
  background-color: white;
}
#sectionEquipe article .mainPhoto {
  height: 50vw;
  width: 50vw;
  background-image: url(../images/marcPhoto.jpg);
}
#sectionEquipe article p {
  font-size: 12px;
  clip-path: polygon(25% 0, 90% 0, 80% 100%, 15% 100%);
  background-color: #c4c4c4;
  width: 65%;
  transform: translateY(-220%);
}
#sectionEquipe article p:nth-of-type(2) {
  font-size: 10px;
  background-color: #5465ff;
  width: 48%;
  transform: translate(-4%, -300%);
}
#sectionEquipe .chevronDesktop {
  display: none;
}
#sectionEquipe .chevronContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 0.7em;
  gap: 20%;
}
#sectionEquipe .chevronContainer .chevron {
  width: 8vw;
  height: 8vw;
  position: static;
}

#sectionAvis {
  position: relative;
  padding: 3em 0 1em;
  background-color: #eeeeee;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
}
#sectionAvis h1 {
  display: none;
}
#sectionAvis img {
  display: none;
}
#sectionAvis #avisFocus .imgContainer {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background-color: white;
  border: 7px white solid;
}
#sectionAvis #avisFocus .img {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  height: 8em;
  width: 8em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/avis1.png);
}
#sectionAvis #listeAvisContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
#sectionAvis #listeAvis .chevron {
  display: none;
}
#sectionAvis article {
  height: 14em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 1.5em;
  position: relative;
}
#sectionAvis article p:last-of-type {
  align-self: flex-end;
}
#sectionAvis article #avisTextContainer {
  width: 80%;
}
#sectionAvis a {
  align-self: flex-end;
  margin-top: 1em;
  margin-right: 1.5em;
  cursor: pointer;
  display: block;
}
#sectionAvis .fa-angle-double-up {
  font-size: 3em;
}

#modalBackground {
  transition: all 0.3s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(94, 93, 93, 0.9);
  z-index: -1;
}
#modalBackground.active {
  z-index: 4;
  opacity: 1;
}

#mainContact h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  padding: 2em 0;
}
#mainContact h1 span {
  position: relative;
  z-index: 1;
}
#mainContact h1 span::after {
  z-index: -1;
  content: "";
  width: 150%;
  height: 0.6em;
  background-color: #c90d0d;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-20%);
  clip-path: polygon(20% 0, 92% 0, 85% 100%, 13% 100%);
}
#mainContact #sectionContact {
  background-image: url(../images/backgroundContact.jpg);
  background-size: cover;
  padding-bottom: 2em;
}
#mainContact article {
  color: white;
  background: #c90d0d;
  background: linear-gradient(317deg, rgba(201, 13, 13, 0.85) 0%, rgba(84, 101, 255, 0.85) 100%);
  text-align: center;
  width: 290px;
  height: 290px;
  margin: auto;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
#mainContact article h2 {
  padding-top: 4.2em;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 300;
}
#mainContact article p {
  font-size: 15px;
  font-family: Varela;
  line-height: 25px;
}
#mainContact form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #5465ff9d;
  width: 90%;
  margin: 2em auto 0;
  padding: 1em 0;
  border-radius: 5px;
  font-family: Signika;
}
#mainContact form input {
  padding: 3px 0 3px 2px;
}
#mainContact form #nom {
  width: 35%;
  margin-right: 5%;
}
#mainContact form #prenom {
  width: 35%;
}
#mainContact form #objet {
  margin-top: 1em;
  width: 76%;
}
#mainContact form #formText {
  margin-top: 1em;
  width: 76%;
  padding: 6px 0 0 2px;
}
#mainContact form button {
  margin-top: 1em;
  width: 25%;
  padding: 5px 0;
  background-color: #003bcb;
  border: none;
  color: white;
  box-shadow: black 3px 3px 10px;
  border-radius: 5px;
}
#mainContact form button:hover {
  background-color: #002c98;
  box-shadow: black 1px 1px 6px;
  cursor: pointer;
}
#mainContact iframe {
  margin-bottom: -5px;
}

#sectionServicesAncres > h1 {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  margin-top: 1em;
}
#sectionServicesAncres > h1 span {
  position: relative;
  z-index: 1;
}
#sectionServicesAncres > h1 span::after {
  z-index: -1;
  content: "";
  width: 150%;
  height: 0.6em;
  background-color: #9193FF;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-20%);
  clip-path: polygon(20% 0, 92% 0, 85% 100%, 13% 100%);
}

#blocAncre {
  margin-top: 1em;
  padding-bottom: 2em;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  text-align: center;
}
#blocAncre .imageAncre {
  width: 120px;
  height: 120px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
#blocAncre .serviceAncre .clickImage {
  display: block;
  width: 100%;
  height: 100%;
}
#blocAncre .serviceAncre a {
  font-size: 16px;
}
#blocAncre .serviceAncre #colorLine {
  display: none;
}
#blocAncre .serviceAncre #imageAncreSeo {
  background-image: url(../images/agence-seo.jpg);
  background-position: center;
  background-size: cover;
}
#blocAncre .serviceAncre #imageAncreMaquette {
  background-image: url(../images/maquettte-site.png);
  background-position: center;
  background-size: cover;
}
#blocAncre .serviceAncre #imageAncreSecurite {
  background-image: url(../images/securitybg.jpg);
  background-position: center;
  background-size: cover;
}
#blocAncre .serviceAncre #imageAncreCommunityManagement {
  background-image: url(../images/cmbg.jpg);
  background-position: center;
  background-size: cover;
}
#blocAncre .serviceAncre h2 span {
  display: block;
  margin: auto;
}
#blocAncre .serviceAncre h2 {
  font-weight: 300;
  text-decoration: underline black;
}
#blocAncre .serviceAncre:nth-of-type(3) h2 {
  padding-top: 10px;
}

#backgroundGradient {
  padding: 2em 0;
  background: #c90d0d;
  background: linear-gradient(90deg, #c90d0d 0%, #5465ff 100%);
}
#backgroundGradient p {
  font-size: 18px;
  padding: 1em 1em 0 1em;
  line-height: 2em;
}
#backgroundGradient h2 {
  padding-top: 1em;
}

#sectionSEO {
  background-color: white;
  padding-top: 1em;
  text-align: center;
}
#sectionSEO #imageSEO {
  width: 240px;
  height: 240px;
  background-image: url(../images/seo-image.jpg);
  background-position: center;
  background-size: cover;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  margin: 0 auto;
}
#sectionSEO span {
  position: relative;
  z-index: 1;
}
#sectionSEO span::after {
  z-index: -1;
  content: "";
  width: 150%;
  height: 0.6em;
  background-color: #9193FF;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-20%);
  clip-path: polygon(20% 0, 92% 0, 85% 100%, 13% 100%);
}

#sectionMaquette {
  margin-top: 2em;
  background-color: #eeeeee;
  padding-top: 1em;
  text-align: center;
}
#sectionMaquette #imageMaquette {
  width: 240px;
  height: 240px;
  background-image: url(../images/maquette-site2.jpg);
  background-position: center;
  background-size: cover;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  margin: auto;
}
#sectionMaquette span {
  position: relative;
  z-index: 1;
}
#sectionMaquette span::after {
  z-index: -1;
  content: "";
  width: 150%;
  height: 0.6em;
  background-color: #9193FF;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-20%);
  clip-path: polygon(20% 0, 92% 0, 85% 100%, 13% 100%);
}

#sectionSecurite {
  margin-top: 2em;
  background-color: white;
  padding-top: 1em;
  text-align: center;
}
#sectionSecurite #imageSecurite {
  width: 240px;
  height: 240px;
  background-image: url(../images/securitybg2.jpg);
  background-position: 90%;
  background-size: cover;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  margin: auto;
}
#sectionSecurite span {
  position: relative;
  z-index: 1;
}
#sectionSecurite span::after {
  z-index: -1;
  content: "";
  width: 150%;
  height: 0.6em;
  background-color: #9193FF;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-20%);
  clip-path: polygon(20% 0, 92% 0, 85% 100%, 13% 100%);
}

#sectionCommunityManagement {
  margin-top: 2em;
  background-color: #eeeeee;
  padding-top: 1em;
  text-align: center;
}
#sectionCommunityManagement #imageCommunityManagement {
  width: 240px;
  height: 240px;
  background-image: url(../images/community-manager2.jpg);
  background-position: center;
  background-size: cover;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  margin: auto;
}
#sectionCommunityManagement span {
  display: block;
  margin: auto;
  position: relative;
  z-index: 1;
}
#sectionCommunityManagement span::after {
  z-index: -1;
  content: "";
  width: 230px;
  height: 0.6em;
  background-color: #9193FF;
  position: absolute;
  bottom: 0;
  left: center;
  transform: translateX(-200px);
  clip-path: polygon(20% 0, 92% 0, 85% 100%, 13% 100%);
}

footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #1d1c1c;
  padding: 1em 2em;
}
footer .logo {
  width: 3.5em;
  padding-left: 1em;
}
footer ul {
  padding-right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  font-size: 20px;
}
footer .footerBottomPart {
  width: 100%;
  padding-top: 1em;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 10px;
  color: white;
}
footer .footerBottomPart a {
  color: white;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  #flexContainerContact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #mainContact h1 {
    font-size: 26px;
  }
  #mainContact form {
    width: 45%;
  }
  #mainContact article {
    width: 340px;
    height: 340px;
  }
  #mainContact article h2 {
    padding-top: 4em;
    font-size: 20px;
  }
  #mainContact article p {
    line-height: 32px;
    font-size: 18px;
  }

  #sectionContact {
    background-position: center;
  }
}
@media screen and (min-width: 392px) {
  #blocAncre {
    margin-top: 2em;
  }
}
@media screen and (min-width: 1024px) {
  #backgroundGradient {
    z-index: -2;
    padding-top: 0;
    clip-path: polygon(100% 3.3%, 100% 100%, 0 100%, 0 0.1%);
  }

  #sectionServicesAncres {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #sectionServicesAncres h1 {
    transform: rotate(-90deg);
    font-size: 22px;
    position: relative;
  }
  #sectionServicesAncres h1::after {
    z-index: 0;
    content: "";
    position: absolute;
    width: 1500%;
    height: 1px;
    bottom: -1px;
    left: 50%;
    transform: translateX(-40%);
    background-color: #1d1c1c;
  }
  #sectionServicesAncres h1 span::after {
    z-index: 7;
    clip-path: none;
    width: 110%;
    transform: translateX(-5%);
    height: 0.2em;
    bottom: -2px;
    background: linear-gradient(-90deg, #c90d0d 0%, #5465ff 100%);
  }

  #blocAncre {
    flex-direction: column;
    align-items: flex-end;
    gap: 5em;
  }
  #blocAncre .imageAncre {
    clip-path: none;
    width: 360px;
    height: 180px;
    border-left: 5px white solid;
  }
  #blocAncre .imageAncre:hover {
    border: black 3px solid;
    box-sizing: border-box;
  }
  #blocAncre .serviceAncre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6em;
  }
  #blocAncre .serviceAncre:nth-of-type(3) h2 {
    padding-top: 0;
  }
  #blocAncre .serviceAncre div {
    order: 1;
  }
  #blocAncre .serviceAncre a {
    font-size: 22px;
  }
  #blocAncre .serviceAncre h2 {
    position: relative;
  }
  #blocAncre .serviceAncre h2 ::after {
    position: absolute;
    content: "";
    z-index: -1;
    width: 300%;
    height: 5px;
    bottom: 28%;
    left: 120%;
    background-color: #5465ff;
  }
  #blocAncre .serviceAncre #imageAncreSeo ~ h2 ::after,
#blocAncre .serviceAncre #imageAncreMaquette ~ h2 ::after {
    background-color: #c90d0d;
  }
  #blocAncre .serviceAncre #colorLine {
    display: block;
    position: absolute;
    height: 700%;
    width: 10px;
    background: #c90d0d;
    background: linear-gradient(180deg, #c90d0d 0%, #5465ff 100%);
    left: calc(50% - 5px);
    top: -30%;
    z-index: -1;
  }
  #blocAncre .serviceAncre #imageAncreSeo {
    position: relative;
  }

  #sectionSEO {
    padding: 0 0 0 2em;
    clip-path: polygon(100% 14%, 100% 86%, 0 100%, 0 1%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #eeeeee;
  }
  #sectionSEO h2 {
    text-align: left;
    order: -2;
    width: 100%;
    padding: 3em 0 0 3em;
    margin-bottom: 5em;
  }
  #sectionSEO #imageSEO {
    margin-bottom: 18%;
  }
  #sectionSEO p {
    padding-left: 3em;
    display: inline-block;
    order: -1;
    width: 50%;
    margin-bottom: 8em;
    text-align: justify;
  }

  #sectionMaquette {
    margin-top: 1em;
    padding: 0 2em 0 0;
    clip-path: polygon(100% 0, 100% 100%, 0 86%, 0 14%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #eeeeee;
  }
  #sectionMaquette h2 {
    text-align: right;
    order: -2;
    width: 100%;
    padding: 3em 3em 0 0;
    margin-bottom: 5em;
  }
  #sectionMaquette #imageMaquette {
    margin-bottom: 18%;
  }
  #sectionMaquette p {
    padding-right: 3em;
    display: inline-block;
    width: 50%;
    margin-bottom: 8em;
    text-align: right;
  }

  #sectionSecurite {
    padding: 0 0 0 2em;
    clip-path: polygon(100% 14%, 100% 86%, 0 100%, 0 0);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #eeeeee;
  }
  #sectionSecurite h2 {
    text-align: left;
    order: -2;
    width: 100%;
    padding: 3em 0 0 3em;
    margin-bottom: 5em;
  }
  #sectionSecurite #imageSecurite {
    margin-bottom: 18%;
  }
  #sectionSecurite p {
    padding-left: 3em;
    display: inline-block;
    order: -1;
    width: 50%;
    margin-bottom: 8em;
    text-align: justify;
  }

  #sectionCommunityManagement {
    padding: 0 2em 0 0;
    clip-path: polygon(100% 0, 100% 100%, 0 86%, 0 14%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #eeeeee;
  }
  #sectionCommunityManagement h2 {
    text-align: right;
    order: -2;
    width: 100%;
    padding: 3em 3em 0 0;
    margin-bottom: 5em;
  }
  #sectionCommunityManagement #imageCommunityManagement {
    margin-bottom: 18%;
  }
  #sectionCommunityManagement p {
    padding-right: 3em;
    display: inline-block;
    width: 50%;
    margin-bottom: 8em;
    text-align: right;
  }
  #sectionCommunityManagement h2 {
    z-index: -2;
    position: relative;
  }
  #sectionCommunityManagement h2::after {
    z-index: -1;
    content: "";
    width: 400px;
    height: 0.6em;
    background-color: #9193FF;
    position: absolute;
    bottom: 0;
    right: 25px;
    clip-path: polygon(20% 0, 92% 0, 85% 100%, 13% 100%);
  }
  #sectionCommunityManagement span {
    display: inline;
  }
  #sectionCommunityManagement span::after {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  #blocAncre .serviceAncre {
    gap: 15em;
  }
  #blocAncre .serviceAncre h2 ::after {
    width: 50vh;
  }
}
@media screen and (min-width: 1250px) {
  #sectionSEO #imageSEO {
    width: 350px;
    height: 350px;
  }

  #sectionMaquette #imageMaquette {
    width: 350px;
    height: 350px;
  }

  #sectionSecurite #imageSecurite {
    width: 350px;
    height: 350px;
  }

  #sectionCommunityManagement #imageCommunityManagement {
    width: 350px;
    height: 350px;
  }
}
@media screen and (min-width: 1750px) {
  #sectionSEO p {
    padding-top: 3em;
  }

  #sectionMaquette p {
    padding-top: 3em;
  }

  #sectionSecurite p {
    padding-top: 3em;
  }

  #sectionCommunityManagement p {
    padding-top: 3em;
  }
}
@media screen and (min-width: 1804px) {
  #blocAncre .serviceAncre {
    gap: 20em;
  }
  #blocAncre .serviceAncre h2 ::after {
    width: 25vh;
  }
}
@media screen and (min-width: 550px) {
  #sectionBanniere {
    font-size: 26px;
  }

  .triangleTop {
    height: 7vw;
  }

  #sectionGallerie {
    padding: 2em 0 1.5em;
  }
  #sectionGallerie h1 {
    font-size: 24px;
    padding-bottom: 1.5em;
  }
  #sectionGallerie #imageGallerieContainer article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 1.5em;
  }
  #sectionGallerie #imageGallerieContainer article a {
    font-size: 16px;
  }

  #sectionEquipe h1 {
    font-size: 22px;
  }
  #sectionEquipe #equipePhotoContainer article .img {
    height: 30vw;
    width: 30vw;
  }
  #sectionEquipe #equipePhotoContainer article .mainPhoto {
    height: 40vw;
    width: 40vw;
  }
  #sectionEquipe #equipePhotoContainer article p {
    font-size: 14px;
    width: 60%;
  }
  #sectionEquipe #equipePhotoContainer article p:nth-of-type(2) {
    font-size: 12px;
    transform: translate(-4%, -265%);
  }
}
@media screen and (min-width: 650px) {
  .triangleTop {
    height: 6vw;
  }

  #sectionEquipe {
    padding-bottom: 2em;
  }
  #sectionEquipe .chevronDesktop {
    display: block;
  }
  #sectionEquipe .chevronContainer {
    display: none;
  }
}
@media screen and (min-width: 720px) {
  .triangleTop {
    height: 4.8vw;
  }
}
@media screen and (min-width: 800px) {
  #sectionGallerie .chevronContainer {
    gap: 4em;
  }
  #sectionGallerie .chevron {
    width: 7vw;
    height: 5vw;
    position: static;
  }
}
@media screen and (min-width: 850px) {
  #sectionBanniere {
    font-size: 36px;
  }

  #sectionPresentation {
    padding-bottom: 3em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #sectionPresentation article {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 48%;
    font-size: 16px;
    text-align: start;
    padding: 2em 0 0.5em 3em;
  }
  #sectionPresentation article p {
    width: 100%;
    font-size: 20px;
  }
  #sectionPresentation article h1 {
    padding-bottom: 2em;
    font-size: 32px;
  }
  #sectionPresentation article h1 span::after {
    width: 140%;
    height: 0.5em;
    bottom: 0;
    left: 3px;
  }
  #sectionPresentation .triangleTop {
    top: -1px;
    right: 0;
    width: 45%;
    height: 65%;
  }
  #sectionPresentation .imgContainer {
    width: 45%;
    z-index: 3;
  }
  #sectionPresentation img {
    margin: 0 auto;
    display: block;
    width: 80%;
    object-fit: cover;
  }

  #sectionGallerie h1 {
    font-size: 32px;
  }
  #sectionGallerie #imageGallerieContainer article {
    gap: 0.8em;
  }
  #sectionGallerie #imageGallerieContainer article a {
    font-size: 20px;
  }

  #sectionEquipe {
    padding-bottom: 3%;
  }
  #sectionEquipe h1 {
    padding-bottom: 6%;
    font-size: 32px;
  }
  #sectionEquipe #equipePhotoContainer article .img {
    height: 25vw;
    width: 25vw;
  }
  #sectionEquipe #equipePhotoContainer article .mainPhoto {
    height: 35vw;
    width: 35vw;
    background-image: url(../images/marcPhoto.jpg);
  }
  #sectionEquipe #equipePhotoContainer article p {
    font-size: 18px;
    width: 50%;
  }
  #sectionEquipe #equipePhotoContainer article p:nth-of-type(2) {
    font-size: 16px;
    transform: translate(-4%, -255%);
  }
}
@media screen and (min-width: 1000px) {
  #sectionBanniere {
    font-size: 46px;
  }

  #sectionGallerie {
    padding: 2em 0 2em;
  }
  #sectionGallerie h1 {
    padding-bottom: 2em;
  }
  #sectionGallerie #imageGallerieContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 1em;
  }
  #sectionGallerie #imageGallerieContainer article {
    padding-bottom: 2.5em;
    width: 40%;
  }
  #sectionGallerie #imageGallerieContainer article a {
    font-size: 22px;
  }
  #sectionGallerie .chevron {
    width: 7vw;
    height: 5vw;
    position: static;
  }
  #sectionGallerie .chevronContainer {
    display: none;
  }
  #sectionGallerie .chevronDesktop {
    display: block;
  }
  #sectionGallerie .chevronGauche {
    align-self: flex-end;
    transform: rotate(0deg) translateX(-50%);
  }
  #sectionGallerie .chevronGauche:hover {
    transform: rotate(0deg) translateX(-70%);
  }
  #sectionGallerie .chevronDroite {
    align-self: flex-start;
    transform: translate(50%, -100%);
  }
  #sectionGallerie .chevronDroite:hover {
    transform: rotate(0deg) translate(70%, -100%);
  }
}
@media screen and (min-width: 1050px) {
  #sectionPresentation article p {
    width: 100%;
    font-size: 24px;
  }

  #sectionEquipe #equipePhotoContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #sectionEquipe #equipePhotoContainer .chevron {
    width: 5vw;
    height: 5vw;
  }
  #sectionEquipe #equipePhotoContainer article .img {
    height: 20vw;
    width: 20vw;
  }
  #sectionEquipe #equipePhotoContainer article .mainPhoto {
    height: 30vw;
    width: 30vw;
  }
  #sectionEquipe #equipePhotoContainer article p {
    font-size: 22px;
    width: 65%;
  }
  #sectionEquipe #equipePhotoContainer article p:nth-of-type(2) {
    font-size: 18px;
    transform: translate(-4%, -285%);
  }

  #sectionAvis {
    padding: 3em 0 1em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #sectionAvis .triangleBottom {
    top: 0;
    left: 0;
    width: 30%;
    height: 50%;
  }
  #sectionAvis h1 {
    display: block;
    align-self: flex-start;
    margin: 0 auto;
    font-size: 32px;
    padding-bottom: 1em;
  }
  #sectionAvis #listeAvisContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: flex-start;
    width: 70%;
  }
  #sectionAvis #listeAvisContainer article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 1.5em;
    width: 70%;
    font-size: 24px;
  }
  #sectionAvis #listeAvisContainer article p:last-of-type {
    align-self: flex-start;
    padding-top: 0.5em;
    font-size: 32px;
  }
  #sectionAvis #listeAvisContainer article .chevron {
    display: none;
  }
  #sectionAvis #listeAvis {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
  }
  #sectionAvis #listeAvis div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.3em;
  }
  #sectionAvis #listeAvis .imgContainer {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background-color: #1d1c1c;
    border: 5px #1d1c1c solid;
  }
  #sectionAvis #listeAvis .imgContainer1 .img {
    background-image: url(../images/avis2.png);
  }
  #sectionAvis #listeAvis .imgContainer2 .img {
    background-image: url(../images/avis3.png);
  }
  #sectionAvis #listeAvis .imgContainer3 .img {
    background-image: url(../images/avis4.png);
  }
  #sectionAvis #listeAvis .imgContainer4 .img {
    background-image: url(../images/avis5.png);
  }
  #sectionAvis #listeAvis .img {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    height: 8vw;
    width: 8vw;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-image: url(../images/avis2.png);
    cursor: pointer;
  }
  #sectionAvis #listeAvis .chevron {
    width: 4vw;
    height: 4vw;
    position: static;
    display: block;
  }
  #sectionAvis #avisFocus {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0em;
    width: 30%;
  }
  #sectionAvis #avisFocus .imgContainer {
    border: 8px white solid;
    height: 20vw;
    width: 20vw;
  }
  #sectionAvis #avisFocus .img {
    height: 20vw;
    width: 20vw;
  }
}
@media screen and (min-width: 1200px) {
  #sectionBanniere {
    font-size: 56px;
  }

  #sectionGallerie #imageGallerieContainer article a {
    font-size: 32px;
  }

  #sectionEquipe #equipePhotoContainer article .img {
    height: 15vw;
    width: 15vw;
  }
  #sectionEquipe #equipePhotoContainer article .mainPhoto {
    height: 25vw;
    width: 25vw;
  }
}
@media screen and (min-width: 1350px) {
  #sectionBanniere {
    font-size: 66px;
  }

  #sectionPresentation article {
    padding: 4em 0 1.5em 5.5em;
  }
  #sectionPresentation article p {
    font-size: 26px;
    line-height: 35px;
  }
  #sectionPresentation img {
    width: 65%;
  }
}
@media screen and (min-width: 1500px) {
  #sectionBanniere {
    font-size: 72px;
  }
}
@media screen and (min-width: 700px) {
  footer .footerBottomPart {
    width: auto;
    gap: 3em;
  }
  footer ul {
    order: 3;
  }
}
@media screen and (min-width: 850px) {
  footer .logo {
    padding-left: 10%;
  }
  footer .footerBottomPart {
    gap: 10em;
    font-size: 16px;
  }
}
@media screen and (min-width: 900px) {
  footer .logo {
    width: 5em;
  }
  footer .socials {
    font-size: 24px;
  }
}
@media screen and (min-width: 1024px) {
  footer .footerBottomPart {
    width: 45%;
  }
}
@media screen and (min-width: 900px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #burgerButton {
    display: none;
  }

  .logo {
    width: 5em;
  }
}
@media screen and (min-width: 1100px) {
  nav {
    width: 70%;
  }
}
@media screen and (min-width: 1250px) {
  header {
    padding-right: 100px;
  }
}
@media screen and (min-width: 1500px) {
  nav {
    width: 60%;
  }
}

/*# sourceMappingURL=style.css.map */
